%meta{ :name => "Subject", :content => "" }
%meta{ :name => "Author", :content => "" }
%meta{ :name => "Language", :content => "en" }
%meta{ :name => "Copyright", :content => "#{Time.now.year} #{@site.name}" }
%meta{ :name => "Designer", :content => "" }
%meta{ :name => "Developer", :content => "" }
%meta{ :name => "Publisher", :content => "" }
%meta{ :name => "Distribution", :content => "Global" }
%meta{ :name => "Robots", :content => "index, follow" }
%meta{ :name => "Rating", :content => "General" }