!!!
%html
  %head
    %title QuickSite
    = stylesheet "styles"

  %body
    #container
      #header    
        %h1= link_to "Quick Site", "/"
      #content
        = flash_helper
        = yield
        %br.clear